<div class="modal-dialog">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img text-center">
                <img class="img-fluid" src="/img/logo-login.png" />
            </div>
            <form class="col-12" action="/login" method="POST">
                <h3>Ingrese su Correo</h3>
                <div class="form-group">
                    <input type="email" class="form-control inputs" placeholder="email@ejemplo.com" name="username" />
                </div>
                <h4>Ingrese su contraseña</h4>
                <div class="form-group">
                    <input type="password" class="form-control inputs" placeholder="Contraseña" name="password" />
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3"><i class="fas fa-sign-in-alt"></i> Ingresar </button>
            </form>
            <div class="col-12 forgot mt-4">
                <a class="fw-bold" href="/registro">Registrarse</a>
            </div>
        </div>
    </div>
</div>