<div class="container">
    <div class="row justify-content-center align-items-center m-0 vh-100">
        <div class="col-md-12">
            <h1><i class="fas fa-clipboard-check"></i>&nbsp; Comunicado Agregado Correctamente</h1>
            <a href="/comunicados/agregar-comunicado"><h3>Agregar otro comunicado</h3></a>
            <a href="/comunicados/mis-comunicados"><h5>Ver mis comunicados</h5></a>
            <a href="/"><h5>Inicio</h5></a>
        </div>
    </div>
</div>