<div id="sidebar" class="active">
    <div class="toggle-btn">
        <span>&#9776;</span>
    </div>
    <ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/administrador/ver-usuarios">Todos los usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/administrador/agregar-usuario">Agregar Usuario</a>
        </li>
        <li class="nav">
            <a class="nav-link" href="/administrador/ver-comunicados">Comunicados</a>
        </li>
        <li class="nav">
            <a class="nav-link" href="/administrador/agregar-ninio">Agregar Niño(a)</a>
        </li>
        <li class="nav">
            <a class="nav-link" href="/administrador/ver-ninios">Ver Niños(as)</a>
        </li>
    </ul>
</div>